tvshow-schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="https://www.w3.org/TR/REC-xml-names" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="tvshows">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="shows">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="showname">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="genre" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="leadingman" type="xs:string" />
              <xs:element name="leadingwoman" type="xs:string" />
              <xs:element name="directedby" type="xs:string" />
              <xs:element name="producer" type="xs:string" />
              <xs:element name="companyname" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>